@model IEnumerable<CollateralMVC.Models.Collateral>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Collaterals that possesses Risks</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.unitValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfUnits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitialAssesDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.unitValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfUnits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitialAssesDate)
            </td>
        </tr>
}
    </tbody>
</table>
