@model CollateralMVC.Models.Customer_Loan

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Customer_Loan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanProductId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanProductId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanPrincipal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanPrincipal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Interest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EMI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EMI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollateralId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollateralId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
