@model CollateralMVC.Models.Customer_Loan

@{
    ViewData["Title"] = "Subscribe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>

}
<div>
    <h4>Customer_Loan</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LoanProductId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LoanProductId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LoanPrincipal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LoanPrincipal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenure)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenure)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Interest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Interest)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EMI)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EMI)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CollateralId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CollateralId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back</a>
</div>
